<div style="background-image: url('https://gamecraft.ce.aut.ac.ir/assets/svg/pattern.svg');background-color:#52006b;height: 100%;justify-content: center;">
        <div style="justify-content: center;display: flex;direction: rtl;margin-bottom: 10px;padding-top: 20px;">
            <p style="margin-left: -5px;font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Black.ttf');color: #a04db9;font-size: 24px;z-index: 0;">گیمـ</p>
            <img style="width: 100.8px;z-index: 1;object-fit: contain;" src="https://gamecraft.ce.aut.ac.ir/assets/images/3d-dark.png">
            <p style="margin-right: -5px;font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Black.ttf');color: #a04db9;font-size: 24px;z-index: 0;">کرفت</p>
        </div>
    <div style="background-color: #fafafa;text-align: center;padding: 20px 70px;width: fit-content;margin: auto;border-radius: 16px;margin-top: 56px;">
        <p style="color: #52006b;font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-SemiBold.ttf');margin-bottom: 0;">! {{first_name|safe}} سلام</p>
        <p style="color: #52006b;font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-SemiBold.ttf');margin-bottom: 0;">
             ! دارید {{team_name|safe}} برای عضویت در تیم {{head_name|safe}} شما یک پیام از طرف  
        </p>
        <p style="color: #52006b;font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Black.ttf');">برای قبول کردن درخواست روی لینک زیر کلیک کن</p>
        <div style="text-align: center;">
            <a type="button" href="{{url|safe}}" style="font-family: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Bold.ttf');color: #52006b;background-color: #6af9c5;border-radius: 24px;padding: 11px 16px;font-size: large;text-decoration:none;">تایید ثبت نام</a>
        </div>
    </div>
</div>