
<div dir="rtl" style="background-image: url('https://gamecraft.ce.aut.ac.ir/assets/svg/pattern.svg');background-color:#474666;height: 100%;">
    <table style="width: 100%;text-align: center;">
        <tbody style="text-align: center;">
            <tr style="text-align: center;">
                <td style="text-align: center;">
                    <div
                        style="display: flex;direction: rtl;margin: auto;margin-bottom: 10px;padding-top: 20px;width: fit-content;">
                        <p
                            style="margin-left: -5px;font-family: 'Estedad-Black';color: #FFFFFF;font-size: 24px;z-index: 0;">
                            گیمـ</p>
                        <img style="width: 100.8px;z-index: 1;object-fit: contain;" src="https://gamecraft.ce.aut.ac.ir/assets/svg/dark-3d.svg">
                        <p
                            style="margin-right: -5px;font-family: 'Estedad-Black';color: #FFFFFF;font-size: 24px;z-index: 0;">
                            کرفت</p>
                    </div>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="text-align: center;">
                    <div
                        style="background-color: #E8E7FF;text-align: center;padding: 20px 70px;width: fit-content;border-radius: 16px;margin: auto;margin-top: 56px;">
                        <p style="color: #474666;font-family: 'Estedad-SemiBold';margin-bottom: 0;">{{first_name|safe}} عزیز سلام!</p>
                        <p style="color: #474666;font-family: 'Estedad-SemiBold';margin-bottom: 0;">برای تغییر رمز عبور بر روی لینک زیر کلیک کنید.</p>
                        <br>
                        <br>
                        <a type="button" href="{{url|safe}}" style="font-family: 'Estedad-Bold';color: #FFFFFF;background-color: #57BA8C;border-radius: 24px;padding: 11px 16px;font-size: large;text-decoration:none;">تغییر رمز عبور</a>
        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    @font-face {
        font-family: Estedad-SemiBold;
        src: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-SemiBold.ttf');
    }

    @font-face {
        font-family: Estedad-Bold;
        src: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Bold.ttf');
    }

    @font-face {
        font-family: Estedad-Black;
        src: url('https://gamecraft.ce.aut.ac.ir/assets/fonts/Estedad-Black.ttf');
    }
</style>